<h1>Your Hair Salon</h1>

<p>Add a new stylist:</p>

<form action="/stylists" method="post">
  <label for="name">Stylist name:</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add stylist</button>
</form>

<% if @stylists.any?() %>
<p>Click on a stylist to see their clients:</p>

<ul>
  <% @stylists.each do |stylist| %>
  <li><a href="/stylists/<%= stylist.id() %>"><%= stylist.name() %></a></li>
  <% end %>
</ul>
<% else %>
<p>There are no stylists yet!</p>
<% end %>
