<h1>Add a client for <%= @stylist.name() %> </h1>

<form action="/clients" method="post">
  <input id="stylist_id" name="stylist_id" type="hidden" value="<%= @stylist.id() %>">

  <label for="name">Name of client:</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add client</button>
</form>

<% if @stylist.clients().any?() %>
<h3>Clients for this stylist:</h3>

<ul>
  <% @stylist.clients().each() do |client| %>
  <li><%= client.name() %></li>
  <% end %>
</ul>
<% else %>
<p>They don't have any clients yet!</p>
<% end %>

<a href="/">Return to Main Page</a>
